<div class="row cus-border">
    <div class="msg-btn">
        <span ng-class="{true: 'fa-edit', false: 'fa-check'}[customer.isEdit]" class="fa dis fa-2x" ng-click="customer.isEdit=!customer.isEdit" ng-model="people.isEdit" ></span>
    </div>
    <div class="col-sm-12 cus-txt">
        <h4>客户资料</h4>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-sm-5">
        <div class="form-group">
            <label class="col-sm-3 control-label">公司名称</label>
            <div class="col-sm-9 " ng-class="{'has-danger': customerForm.companyName.$invalid}" >
                <input type="text" class="form-control " ng-disabled="customer.isEdit" placeholder="公司名称（必填）" ng-model="customer.companyName" name="companyName" required ng-trim="true" ng-maxlength="50">
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">网站</label>
            <div class="col-sm-9"  ng-class="{'has-danger': customerForm.website.$invalid}" >
                <input type="text" name="website" class="form-control" ng-disabled="customer.isEdit" placeholder="网站" ng-model="customer.website" ng-maxlength="50"></div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">分组</label>
            <div class="col-sm-9">
                <button type="button" class="form-control form-select" ng-model="customer.group" data-html="1" data-toggle="true" bs-options="group.value as group.label for group in groups" ng-disabled="customer.isEdit" placeholder="分组" data-animation="am-flip-x" bs-select>
                    分组<span class="caret"></span>
                </button>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">客户来源</label>
            <div class="col-sm-9">
                <button type="button" class="form-control form-select" ng-model="customer.origin" data-html="1" data-toggle="true" bs-options="origin.value as origin.label for origin in origins" ng-disabled="customer.isEdit" placeholder="客户来源" data-animation="am-flip-x" bs-select>
                    客户来源<span class="caret"></span> <!-- <i class="fa fa-sort-down fa-lg"></i> -->
                </button>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">国家/地区</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="customer.country" bs-options="state for state in states" placeholder="国家/地区" ng-disabled="customer.isEdit" data-animation="am-flip-x" bs-typeahead >
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">联系地址</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-disabled="customer.isEdit" placeholder="联系地址" ng-model="customer.address" ></div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">主营业务</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="customer.st" bs-options="st for st in sts" placeholder="主营业务" ng-disabled="customer.isEdit" data-animation="am-flip-x" bs-typeahead >
            </div>
        </div>
        <!-- /.form-group --> </div>
    <!-- /.col-md-5 -->

    <div class="col-sm-5 col-md-offset-1">
        <div class="form-group">
            <button class="col-sm-3 control-label" data-animation="am-flip-x" data-placement="top-left" title="客户星级" data-content="点击选择客户星级" data-trigger="focus" bs-popover >
                客户星级
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </button>
            <div class="col-sm-9">
                <div class="cus-star">
                    <uib-rating ng-model="customer.star" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                </div>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">客户标签</label>
            <div class="col-sm-9">
                <button type="button" class="form-control form-select" ng-model="customer.tags" data-html="1"  data-toggle="true" bs-options="tag.value as tag.label for tag in tags" ng-disabled="customer.isEdit" placeholder="客户标签" max-length="4"  max-length-html="个客户" all-text="全选" none-text="取消全选" all-none-buttons="1"  data-animation="am-flip-x" bs-select>
                    客户标签<span class="caret"></span>
                </button>

            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">客户状态</label>
            <div class="col-sm-9">
                <button type="button" class="form-control form-select" ng-model="customer.progress" data-html="1" data-toggle="true" bs-options="progre.value as progre.label for progre in progress" ng-disabled="customer.isEdit" placeholder="客户状态" data-animation="am-flip-x" bs-select>
                    客户状态<span class="caret"></span>
                </button>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话</label>
            <div class="col-sm-9" ng-class="{'has-danger': customerForm.mobile.$invalid}">
                <input type="text" name="mobile" class="form-control" ng-disabled="customer.isEdit" placeholder="联系电话" ng-model="customer.mobile" ng-maxlength="20"></div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱</label>
            <div class="col-sm-9" ng-class="{'has-danger': customerForm.email.$invalid}">
                <input type="email" name="email" class="form-control" ng-disabled="customer.isEdit" placeholder="邮箱" ng-model="customer.email" required ng-maxlength="50"></div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label class="col-sm-3 control-label">传真</label>
            <div class="col-sm-9" ng-class="{'has-danger': customerForm.fax.$invalid}">
                <input type="text" name="fax" class="form-control" ng-disabled="customer.isEdit" placeholder="传真" ng-model="customer.fax" ng-maxlength="20"></div>
        </div>
        <!-- /.form-group -->
        
        <div class="form-group">
            <label class="col-sm-3 control-label">客户类型</label>
            <div class="col-sm-9">
                <button type="button" class="form-control form-select" ng-model="customer.class" data-html="1" data-toggle="true" bs-options="cls.value as cls.label for cls in class" ng-disabled="customer.isEdit" placeholder="客户状态" data-animation="am-flip-x" bs-select>
                    客户状态<span class="caret"></span>
                </button>
            </div>
        </div>
        <!-- /.form-group --> </div>
    <!-- /.col-md-5 -->
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-sm-1 control-label">备注</label>
            <div class="col-sm-10" style="padding-left:45px;">
                <textarea name="" id="" cols="30" rows="5" class="form-control" ng-disabled="customer.isEdit" ng-model="customer.remark"></textarea>
            </div>
        </div>
        <!-- /.form-group --> </div>
    <div class="col-md-11 col-md-offset-1">
        <button class="btn btn-success" ng-show="!customer.isEdit" ng-click="customer.isEdit=!customer.isEdit" ng-disabled="customerForm.$invalid">保存</button>
    </div>
</div>
<!-- /.row -->