
<h1 class="page-header">客户详情</h1>

<div ng-controller="CustomerCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">            
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <!-- /.col-xs-2 -->            
                        <div class="col-xs-5">公司</div>
                        <!-- /.col-xs-6 --> 
                        <div class="col-xs-5">分组</div>
                        <!-- /.col-xs-5 --> 

                    </div>
                    <!-- /.row -->            
                </div>
                <div class="col-md-2 col-xs-12">最近日程</div>
                <!-- /.col-md-2 -->
                <div class="col-md-1 col-xs-12">标签</div>
                <!-- /.col-md-1 -->
                <div class="col-md-2 col-xs-12">客户星级</div>
                <!-- /.col-md-1 -->
                <div class="col-md-1 col-xs-6">国家</div>
                <!-- /.col-md-1 -->
                <div class="col-md-1 col-xs-6"></div>
                <!-- /.col-md-1 -->
                <div class="col-md-1 col-xs-12"></div>
                <!-- /.col-md-1 --> </div>
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    <hr>
    <div class="row cus-item" ng-repeat="customer in customers" ng-mouseenter="show = true" ng-mouseleave="show = false">
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">            
                            <span></span>
                        </label>
                    </div>
                </div>
                <!-- /.col-xs-2 -->            
                <div class="col-xs-5">{{customer.name}}</div>
                <!-- /.col-xs-5 --> 
                <div class="col-xs-5">{{customer.cate}}</div>
                <!-- /.col-xs-5 --> 

            </div>
            <!-- /.row -->            
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2 col-xs-12">{{customer.task}}</div>
        <!-- /.col-md-2 -->
        <div class="col-md-1 col-xs-12">
            <span class="label label-{{tag.color}}" ng-repeat="tag in customer.tags">{{tag.text}}</span>

        </div>
        <!-- /.col-md-1 -->
        <div class="col-md-2 col-xs-12">
            <div class="cus-star">
                <uib-rating ng-model="customer.star" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
            </div>
        </div>
        <!-- /.col-md-1 -->
        <div class="col-md-1 col-xs-12">{{customer.country}}</div>
        <!-- /.col-md-1 -->
        <div class="col-md-2 col-xs-12" >
            <div class="row" ng-show="!show" class="fade">
                <div class="col-xs-9">
                    {{customer.date | date}}
                </div>
                <!-- /.col-xs-9 -->
                <div class="col-xs-3">
                    <div >
                        <i class="fa fa-pushpin"></i>
                    </div>
                </div>
                <!-- /.col-xs-3 -->
            </div>
            <!-- /.row -->
             <div class="row" ng-show="show" class="fade">
                <div class="col-xs-3">
                    <a href=""><i class="fa fa-thumb-tack fa-lg"></i></a>
                </div>
                <!-- /.col-xs-3 -->
                <div class="col-xs-3">
                
                    <a ui-sref="web.customerdetial({id:$index})"><i class="fa fa-edit fa-lg"></i></a>
                </div>
                <!-- /.col-xs-3 -->
                <div class="col-xs-3">
                    <a href=""><i class="fa fa-calendar-check-o fa-lg"></i></a>
                </div>
                <!-- /.col-xs-3 -->
                <div class="col-xs-3">
                    <a href=""><i class="fa fa-ellipsis-v fa-lg"></i></a>
                </div>
                <!-- /.col-xs-3 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-md-1 --> 
    </div>
    <!-- /.row -->
</div>